<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Gearhead::@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Car auto fix, car breakdown, tricks to fox your car, Quick fix for your car" />

    <link rel="icon" href="~/Content/images/engineering.png" />

    <!-- The styles -->
    <link id="bs-css" href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet">
    <link href='~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/Admin/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='~/Content/Admin/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='~/Content/Admin/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='~/Content/Admin/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/uploadify.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/animate.min.css' rel='stylesheet'>

    @*   @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- jQuery -->
    <script src="~/Content/Admin/bower_components/jquery/jquery.min.js"></script>



    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>



        @Html.Partial("_AdminNav")

    <div class="ch-container">
        <div class="row">

            @* If the Session is set *@
            @* <div class="col-md-3 top-left"*@>

            @if (Session["AdminId"] != null)
            {

                <!-- left menu starts -->
                <div class="col-sm-2 col-lg-2 top-left">
                    <div class="sidebar-nav">
                        <div class="nav-canvas">
                            <div class="nav-sm nav nav-stacked">

                            </div>
                            <ul class="nav nav-pills nav-stacked main-menu">
                                <li class="nav-header">Main</li>
                                @*   <li>
                                        <a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                                    </li>
                                    <li>
                                        <a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> UI Features</span></a>
                                    </li>*@
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Admin")
                                </li>
                                @*       <li>
                                        <a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                                    </li>
                                    <li>
                                        <a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                                    </li>
                                    <li>
                                        <a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                                    </li>*@
                                <li class="nav-header hidden-md">Sample Section</li>
                                <li>
                                    @Html.ActionLink("Login as a User", "UserLogin", "Home")
                                </li>
                                @* <li class="accordion">
                                        <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">Child Menu 1</a></li>
                                            <li><a href="#">Child Menu 2</a></li>
                                        </ul>
                                    </li>*@
                                
                                <li>
                                    @Html.ActionLink("Create New Article", "Create", "Maintenance")
                                </li>
                                
                                @*  <li>
                                    <a class="ajax-link" href="grid.html">
                                               <i class="glyphicon glyphicon-th"></i><span> Grid</span>
                                           </a>
                                       </li>
                                       <li><a href="tour.html"><i class="glyphicon glyphicon-globe"></i><span> Tour</span></a></li>
                                       <li>
                                           <a class="ajax-link" href="icon.html">
                                               <i class="glyphicon glyphicon-star"></i><span> Icons</span>
                                           </a>
                                       </li>*@
                                <li>
                                    @Html.ActionLink("View Articles", "Index", "Maintenance")
                                </li>
                                <li>
                                    @Html.ActionLink("Edit Articles", "Edit", "Maintenance")
                                </li>
                            </ul>
                            @*<label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>*@
                        </div>
                    </div>
                </div>
                @*  </div>*@
                <!--/span-->
                <!-- left menu ends -->

                <noscript>
                    <div class="alert alert-block col-md-12">
                        <h4 class="alert-heading">Warning!</h4>

                        <p>
                            You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                            enabled to use this site.
                        </p>
                    </div>
                </noscript>

            }

            @*--------------- End of checking if Admin is logged in-------------------*@




            <!--<div id="content" class="col-lg-10 col-sm-10">-->
            <!-- content starts -->
            <div class="col-md-9 top-right">

                @RenderBody()



            </div>

            <!--/.fluid-container-->
        </div>

    </div>

    <!-- external javascript -->

    <script src="~/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- library for cookie management -->
    <script src="~/Content/Admin/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='~/Content/Admin/bower_components/moment/min/moment.min.js'></script>
    <script src='~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Content/Admin/js/jquery.dataTables.min.js'></script>

    <!-- select or dropdown enhancer -->
    <script src="~/Content/Admin/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Content/Admin/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="~/Content/Admin/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="~/Content/Admin/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="~/Content/Admin/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Content/Admin/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Content/Admin/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Content/Admin/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Content/Admin/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Content/Admin/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    @*<script src="~/Content/Admin/js/charisma.js"></script>*@
</body>
</html>
