@model IEnumerable<GH.Models.Article>

@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_CatLayout.cshtml";
}


<style>
    .card-text{
        text-transform:uppercase!important;
    }
</style>
@*
<div class="row">


    @foreach (var item in Model)
    {

        <div class="card" style="width:700px">
            <img class="card-img-top" img src="~/Content/images/@item.ImageUrl" width="400" height="500" alt=" @item.Title Image" />
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Content).</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    }

</div>
*@

@*<div class="card" style="width:1000px">
    <img class="card-img-top" img src="~/Content/images/@item.ImageUrl" width="700" height="800" alt=" @item.Title Image" />
    <div class="card-body">
        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Content).</p>
        <a href="#" class="btn btn-primary">See More</a>
    </div>
</div>*@


<br />
<br />








<article id="post-11362" class="post-11362 post type-post status-publish format-standard has-post-thumbnail hentry category-maintenance tag-cabin-air-filter tag-car-care tag-car-safety tag-climate-control tag-climate-control-maintenance post-has-thumbnail">


    <a href="http://knowhow.napaonline.com/mold-air-conditioner-serious/" class="thumbnail">
        <img width="700" height="366" img src="~/Content/images/mold-in the-ac.jpg" class="attachment-carmack-archive size-carmack-archive wp-post-image jetpack-lazy-image" alt="Keep Air Vents Clean" />
    </a>


    <section class="entry entry-archive">


        <h2 class="entry-title">
            <a href="http://knowhow.napaonline.com/mold-air-conditioner-serious/" rel="bookmark">
                Mold in the Air Conditioner: How Serious Is It?
            </a>
        </h2>

        <p>Mold in the air conditioner is just one of many smells you may detect inside your car.</p>

    </section>

</article>



<article id="post-38084" class="post-38084 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-maintenance tag-brake-maintenance tag-brake-rotor tag-brake-rotors tag-brake-system tag-brakes-2 tag-calipers tag-disc-brake tag-featured tag-off-roading tag-rotor post-has-thumbnail">


    <a href="http://knowhow.napaonline.com/how-to-clean-brake-rotors/" class="thumbnail">
        <img width="700" height="366" src="~/Content/images/brake rotors.jpg" alt="Close-up of a dirty brake rotor"/>
    </a>


    <section class="entry entry-archive">

        <h2 class="entry-title">
            <a href="http://knowhow.napaonline.com/how-to-clean-brake-rotors/" rel="bookmark">
                How to Clean Brake Rotors
            </a>
        </h2>

        <p>Learning how to clean brake rotors and staying on top of it is an easy way to help maintain your brake system’s safety.</p>

    </section>

</article>


<article id="post-38731" class="post-38731 post type-post status-publish format-standard has-post-thumbnail hentry category-maintenance tag-buffing tag-car-maintenance tag-car-wash tag-cleaning tag-paint-2 tag-polishing post-has-thumbnail">


    <a href="http://knowhow.napaonline.com/how-to-remove-swirl-marks-in-your-cars-paint/" class="thumbnail">
        <img width="700" height="366" src="~/Content/images/swirl-marks.jpg" />
    </a>

    <section class="entry entry-archive">


        <h2 class="entry-title">
            <a href="http://knowhow.napaonline.com/how-to-remove-swirl-marks-in-your-cars-paint/" rel="bookmark">
                How to Remove Swirl Marks in Your Car’s Paint
            </a>
        </h2>

        <p>Swirl marks are fine paint scratches caused by wiping your car with a dry towel. Learn how to remove swirl marks to leave your paint looking good as new.</p>

    </section>

</article>